<!-- only appears in favorites and all categories page -->
<button 
    class="filter" 
    *ngIf="route.url == '/favorites' || route.url == '/categories'"
    (click)="onToggle($event)"
    >
    <i class="fa fa-sliders" aria-hidden="true"></i>

</button>

<div class="filter-menu" [@toggle]="animationState">
    <h2>Filter by:</h2>

    <!-- toggle the div below the section -->
    <section class="filter-type" (click)="onToggleGenre($event)">Genre <i class="fa fa-plus" aria-hidden="true"></i></section>
        <div class="genres-list" [@toggleGenre]="genreState">
            <div class="genres">
                <a (click)="genreToFilter('')">All Genres</a>
                <a *ngFor="let genre of allGenres" (click)="genreToFilter(genre.name)">{{ genre.name }}</a>
            </div>
        </div>
</div>
