@import '../../../sass/variables.scss';

.filter {
    background: $main-purple;
    border: none;
    border-radius: 5px;
    color: $g-white;
    filter: drop-shadow(2px 2px 0px $persian-indigo);
    font-size: 28px;
    margin-left: 10px;
    height: 34px;
    width: 34px;
}