// this file contains all mixins to change the visualization from mobile to desktop, only of the components
// where the scss file is a little bit big
@import './variables.scss';

/* FEATURED MOVIE MIXIN*/
@mixin featured-movie-desktop {
    .action-buttons {
        align-items: center;
        font-size: 30px;
        justify-content: flex-end;
        width: 50%;

        .watch-button {
            font-size: 16px;
            width: 160px;
            height: 32px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($main-purple, 10%);
            }
            &:active {
                box-shadow: 0px 1px 0px $persian-indigo;
                transform: translateY(2px);
            }
        }

        app-favorite-button, .watch-button {
            margin-right: 30px;
        }

        .more-details{ 
            transition: color 0.3s;

            &:hover {
                color: $main-purple;
            }
        }
    }

    .featured-container {
        background-position: 40% 30% !important;
        margin: 66px 0 0 0;
        height: 350px;
    }    

    .featured-data {
        color: $g-white;
        display: flex;
        flex-direction: column;
    
        .featured-title {
            font: 40px $roboto;
            font-weight: 900;
        }
    
        .featured-category {
            display: flex;
            font: 20px $roboto;
            font-weight: 200;
            justify-content: flex-start;
    
            .separators {
                margin: 0 4px 0 4px;
            }
        }
    }
}

/* MOVIE DETAILS MIXIN */

@mixin movie-details-desktop {
    .all-details {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 30px;
        width: 50%;
    }

    .action-buttons {
        width: 62%;

        .watch-button {
            font-size: 16px;
            width: 210px;
            height: 36px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($main-purple, 10%);
            }
            &:active {
                box-shadow: 0px 1px 0px $persian-indigo;
                transform: translateY(2px);
            }
        }
    }

    .blur-banner {
        background-position: 40% 30% !important;
        
    }    

    .color-background {
        display: flex;
    }

    .fa-thumbs-up {
        cursor: pointer;
        font-size: 30px;
        transition: color 0.3s;

        &:hover {
            color: darken($main-purple, 10%);
        }
    }

    .movie {
        height: 100%;
        margin: 66px 0 0 0;
    }

    .movie-details-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 30px;
        top: 112px;
    }

    .movie-info {
        align-items: flex-start;
        height: 100%;
        margin: 0 0 0 0;
        text-align: left;
        width: 100%;

        .info {
            font-size: 18px;
            width: 100%;
        }

        .title {
            font-size: 40px;
        }
    }

    .movie-details {
        color: $g-white;
        display: flex;
        flex-direction: column;
        font-family: $roboto;
        font-weight: 300;
    
        .cast, .direction {
            font-weight: 250;
            font-size: 14px;
            margin-top: 6px;
        }
    
        .synopsis {
            font-size: 16px;
        }
    }
}