@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,400&display=swap');

// COLORS
$rich-black: #0A080C;
$g-white: #FDFDFD;
$main-purple: #8257E5;
$persian-indigo: #291284;

// FONTS
$roboto: 'Roboto', sans-serif;