@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,400&display=swap');

// COLORS
$g-white: #FDFDFD;
$lavender-blue: #D8C8FC;
$light-purple: #A279FF;
$main-purple: #8257E5;
$medium-purple: #767BF8;
$persian-indigo: #291284;
$rich-black: #0A080C;
$r-rating: #FD9017;

// FONTS
$roboto: 'Roboto', sans-serif;