@import '../../sass/variables.scss';

a {
    color: $g-white;
    text-decoration: none;
}

.navigation-bar {
    align-items: center;
    bottom: 0;
    background: $main-purple;
    box-shadow: 0px -3px 0px $persian-indigo;
    display: flex;
    font-size: 32px;
    height: 44px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

