@import '../../sass/variables.scss';

.header-container {
    align-items: center;
    background: $rich-black;
    display: none;
    box-shadow: 2px 2px 0px $persian-indigo;
    padding: 10px 10px 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.logo-app {
    align-items: center;
    color: $main-purple;
    display: flex;
    font: 16px $roboto;
    //justify-content: flex-start;
    width: 60%;

    .logo {
        width: 70%;
    }
}

.navigation-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 25%;
    
    a {
        color: $g-white;
        font-size: 32px;
        text-decoration: none;
        text-shadow: 2px 4px 0px $persian-indigo;
        transition: color 0.3s;

        &:hover {
            color: $main-purple;
        }
    }

    .fa-search {
        color: $g-white;
        cursor: pointer;
        font-size: 32px;
        text-shadow: 2px 4px 0px $persian-indigo;
        transition: color 0.3s;

        &:hover {
            color: $main-purple;
        }
    }
}

.search {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 60%;

    .search-input {
        background: $g-white;
        border: none;
        border-radius: 10px;
        color: $main-purple;
        font: 18px $roboto;
        height: 40px;
        margin: 0 10px 0 0;
        padding: 0 16px;
        width: 350px;
        
        &::placeholder {
            color: $lavender-blue;
            font: 18px $roboto;
        }
    }
}



@media only screen and (min-width: 720px) {
    .header-container {
        display: flex;
    }
}