<header class="header-container">
    <div class="logo-app">
        <a routerLink="/">
            <img src="../../assets/headers/logo.svg" alt="Kamui Movies" class="logo">
        </a>

        <!-- only appears in your respective page -->
        <h2 class="title-page" *ngIf="route.url == '/favorites'">My Favoriter</h2>
        <h2 class="title-page" *ngIf="route.url == '/categories'">All Categories</h2>
    </div>

    <div class="search"> 
        <input class="search-input" type="text" placeholder="Search a movie..."/>
    </div>

    <div class="navigation-buttons">
        <i class="fa fa-search" aria-hidden="true" *ngIf="route.url != '/movie-details'"></i>
        <a routerLink="/favorites" class="fa fa-heart" aria-hidden="true"></a>
        <a routerLink="/login" class="fa fa-user" aria-hidden="true"></a>
        <a routerLink="/categories" class="fa fa-bars" aria-hidden="true"></a>
    </div>
</header>
