<div class="login-container">
    <div class="login-col">
        <img src="../../assets/login/user-dono-image.svg" alt="User Samurai">
        <h2 class="welcome-title">Welcome, user-dono</h2>

        <form class="login-form">
            <input type="email" placeholder="userdono@email.com"/>
            <input type="password" placeholder="**********" />
            <button class="login-btn">Login</button>
        </form>

        <a routerLink="/login" class="forgot-pass">I forgot my password!</a>
    </div>
</div>
