@import '../../sass/variables.scss';

.header-mobile {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.fa-search {
    color: $g-white;
    font-size: 32px;
}