<header class="header-mobile">
    <div class="logo-title">
        <!-- not appears in movie detail page -->
        <img routerLink="/" src="../../assets/headers/logo-icon.svg" *ngIf="!route.url.includes('movie-details')" alt="Kamui Movies Icon">

        <!-- only appears in movie detail page -->
        <i (click)="goBack()" class="fa fa-arrow-left" aria-hidden="true" *ngIf="route.url.includes('movie-details')"></i>

        <!-- only appears in your respective page -->
        <h2 class="title-page" *ngIf="route.url == '/favorites'">My Favorites</h2>
        <h2 class="title-page" *ngIf="route.url == '/categories'">All Categories</h2>
    </div>

    <div class="search-filters">
        <!-- not appears in movie detail page -->
        <i class="fa fa-search" aria-hidden="true" *ngIf="route.url != '/movie-details'"></i>

        <app-filter-button></app-filter-button>

    </div>
</header>
