<div class="categories-list">
    <section class="action-list">
        <h3 class="action-title">Action</h3>

        <!-- this div is temporary -->
        <div class="movie-tiles">
            <app-movie-tile></app-movie-tile>
            <app-movie-tile></app-movie-tile>
        </div>
    </section>

    <section class="drama-list">
        <h3 class="drama-title">Drama</h3>

        <!-- this div is temporary -->
        <div class="movie-tiles">
            <app-movie-tile></app-movie-tile>
            <app-movie-tile></app-movie-tile>
        </div>
    </section>

    <section class="thriller-list">
        <h3 class="thriller-title">Thriller</h3>

        <!-- this div is temporary -->
        <div class="movie-tiles">
            <app-movie-tile></app-movie-tile>
            <app-movie-tile></app-movie-tile>
        </div>
    </section>
</div>