@import '../../../sass/variables.scss';
@import '../../../sass/mixins.scss';

.action-buttons {
    align-items: center;
    color: $g-white;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 18px 0 18px 0;
    width: 92%;

    .watch-button {
        background: $main-purple;
        border-style: none;
        border-radius: 5px;
        box-shadow: 1px 2px 0px $persian-indigo;
        color: $g-white;
        font-family: $roboto;
        font-size: 12px;
        width: 210px;
        height: 26px;
    }

    app-favorite-button, .watch-button {
        margin-right: 10px;
    }
}

.blur-banner {
    //background: linear-gradient(0deg, $rich-black 0.06%, rgba(0, 0, 0, 0) 18.53%), url(../../../assets/movies/john-wick-3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 40%;
    display: flex;
    filter: blur(4px);
    height: 400px;
    width: 100%;
    z-index: -1;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
}

.color-background {
    background-color: darken($main-purple, 50%);
    display: none;
    height: 400px;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.movie {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
} 

.movie-cover {
    //background: url(../../../assets/movies/john-wick-3.png);
    background-repeat: no-repeat;
    background-size: 110%;
    display: flex;
    height: 264px;
    top: 70px;
    width: 236px;
}

.movie-details-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 26px 50px 26px;
    position: absolute;
    top: 70px;
    width: 100%;
}

.movie-details {
    color: $g-white;
    display: flex;
    flex-direction: column;
    font-family: $roboto;
    font-weight: 300;

    .cast, .direction {
        font-weight: 250;
        font-size: 12px;
        margin-top: 6px;
    }

    .synopsis {
        font-size: 14px;
    }
}

.movie-info {
    align-items: center;
    color: $g-white;
    display: flex;
    flex-direction: column;
    font-family: $roboto;
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;

    .info {
        font-weight: 200;
        font-size: 15px;
        width: 100%;
        word-spacing: 2px;
    }

    .rating {
        //background: $r-rating;
        border-radius: 2px;
        font-weight: bold;
        padding: 2px 6px;
    }

    .title {
        font-weight: 900;
        font-size: 28px;
    }
}

@media only screen and (min-width: 720px) {
    .all-details {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 30px;
        width: 50%;
    }

    .action-buttons {
        width: 62%;

        .watch-button {
            font-size: 16px;
            width: 210px;
            height: 36px;
            transition: background-color 0.3s;

            &:hover {
                background-color: darken($main-purple, 10%);
            }
            &:active {
                box-shadow: 0px 1px 0px $persian-indigo;
                transform: translateY(2px);
            }
        }
    }

    .blur-banner {
        background-position: 40% 30% !important;
        
    }    

    .color-background {
        display: flex;
    }

    .fa-thumbs-up {
        cursor: pointer;
        font-size: 30px;
        transition: color 0.3s;

        &:hover {
            color: darken($main-purple, 10%);
        }
    }

    .movie {
        height: 100%;
        margin: 66px 0 0 0;
    }

    .movie-details-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 30px;
        top: 112px;
    }

    .movie-info {
        align-items: flex-start;
        height: 100%;
        margin: 0 0 0 0;
        text-align: left;
        width: 100%;

        .info {
            font-size: 22px;
            width: 100%;
        }

        .title {
            font-size: 40px;
        }
    }

    .movie-details {
        color: $g-white;
        display: flex;
        flex-direction: column;
        font-family: $roboto;
        font-weight: 300;
    
        .cast, .direction {
            font-weight: 250;
            font-size: 14px;
            margin-top: 6px;
        }
    
        .synopsis {
            font-size: 16px;
        }
    }
}