<!-- this page will be static for a while, you can access it by /movie-details -->
<div class="movie" *ngIf="movie">
    <div class="blur-banner"></div>

    <div class="movie-details-container">
        <div class="movie-cover"></div>
    
        <section class="movie-info">
            <h1 class="title">{{ title }}</h1>
            <span class="info">
                <span *ngFor="let genre of genres; index as i">
                    {{ genres[i].name }}

                    <!-- prevents a lonely dot in the end -->
                    <span class="separators" *ngIf="i != genres.length - 1"> • </span>
                </span>

                {{ year }}
                {{ duration }}

                <span class="rating">{{ rate }}</span>
            </span>
        </section>
        
        <div class="action-buttons">
            <button class="watch-button">
                <i class="fa fa-play" aria-hidden="true"></i>
                WATCH
            </button>
            
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </div>
        
        <div class="movie-details">
            <p class="synopsis">
                {{ synopsis }}
            </p>
        
            <p class="cast">
                Cast: 
                <span *ngFor="let actor of cast; index as i">
                    {{ actor.name }}
                    <span *ngIf="i != cast.length - 1">, </span>
                </span>
            </p>
            <p class="direction">
                Direction: {{ direction }}
            </p>
        </div>
    </div>
</div>
