<!-- this page will be static for a while, you can access it by /movie-details -->
<div class="blur-banner">
    <img src="../../../assets/movies/john-wick-3.png" alt="Movie Cover" class="movie-cover">

    <section class="movie-info">
        <h1>John Wick Parabellum</h1>
        Action • Crime • Thriller
        2019
        2h 12min
        <span class="rating">R</span>
    </section>
</div>

<div class="action-buttons">
    <i class="fa fa-heart-o" aria-hidden="true"></i>

    <button class="watch-button">
        <i class="fa fa-play" aria-hidden="true"></i>
        WATCH
    </button>
    
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>

<div class="movie-details">
    <p class="sinopse">
        After murdering Mafia boss Santino D'Antonio at the 
        Hotel Continental, John Wick is now being chased by 
        members of the High Summit under the U$14 million 
        reward. Now, he needs to join forces with former 
        partners who have helped him in the past while
        fighting for his survival.
    </p>

    <p class="cast">
        Cast: Keanu Reeves, Halle Berry, Jason Mantzoukas
    </p>
    <p class="direction">
        Direction: Chad Stahelski
    </p>
</div>
