@import '../../sass/variables.scss';

.action-buttons {
    align-items: center;
    color: $g-white;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
    width: 90%;

    .watch-button {
        background: $main-purple;
        border-style: none;
        border-radius: 5px;
        box-shadow: 1px 2px 0px $persian-indigo;
        color: $g-white;
        font-family: $roboto;
        font-size: 12px;
        width: 80px;
        height: 26px;
    }

    .watch-button, .fa-heart-o {
        margin-right: 10px;
    }

    .more-details {
        color: $g-white;
        text-decoration: none;
    }
}

.featured-container {
    background: linear-gradient(180deg, rgba(10, 8, 12, 0) 76.04%, $rich-black 100%), 
                url(../../assets/featured-movie/featured-movie.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 350px;
    width: 100%;
}

.featured-details {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 14px;
    width: 100%;
}

.featured-data {
    color: $g-white;
    display: flex;
    flex-direction: column;

    .featured-title {
        font: 30px $roboto;
        font-weight: 900;
    }

    .featured-category {
        display: flex;
        font: 15px $roboto;
        font-weight: 200;
        justify-content: flex-start;

        .separators {
            margin: 0 4px 0 4px;
        }
    }
}