<div class="featured-container">
    <div class="featured-details">
        <div class="featured-data">
            <h3 class="featured-title">John Wick Parabellum</h3>

            <div class="featured-category">
                Action • Crime • Thriller
            </div>
        </div>

        <div class="action-buttons">
            <i class="fa fa-heart-o" aria-hidden="true"></i>

            <div class="watch-button">
                <i class="fa fa-play" aria-hidden="true"></i>
                WATCH
            </div>
            
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
</div>
