<!-- sets the featured movie imagem by property biding -->
<div *ngIf="featuredMovie" class="featured-container" 
    [ngStyle]="{ 
    'background': 'linear-gradient(0deg, #0A080C 0.06%, rgba(0, 0, 0, 0) 18.53%), 
    url(' + backdrop + ') 50%/180% no-repeat'}">

    <div class="featured-details">
        <div class="featured-data">
            <h3 class="featured-title">{{ title }}</h3>

            <!-- iterating genres and separators -->
            <div class="featured-category">
                <span *ngFor="let genre of genres; index as i">
                    {{ genres[i].name }}

                    <!-- prevents a lonely dot in the end -->
                    <span class="separators" *ngIf="i != genres.length - 1"> • </span>
                </span>
            </div>
        </div>

        <div class="action-buttons">
            <i (click)="toFavorite()" class={{heartClass[0]}} aria-hidden="true"></i>

            <button class="watch-button">
                <i class="fa fa-play" aria-hidden="true"></i>
                WATCH
            </button>
            
            <a *ngIf="featuredMovie" routerLink="/movie-details/{{featuredMovie.id}}" class="fa fa-plus more-details" aria-hidden="true"></a>
        </div>
    </div>
</div>
