<div class="featured-container">
    <div class="featured-details">
        <div class="featured-data">
            <h3 class="featured-title">{{ title }}</h3>

            <!-- iterating genres and separators -->
            <div class="featured-category" *ngIf="featuredMovie">
                <span *ngFor="let genre of genres; index as i">
                    {{ genres[i].name }}

                    <!-- prevents a lonely dot in the end -->
                    <span class="separators" *ngIf="i != genres.length - 1"> • </span>
                </span>
            </div>
        </div>

        <div class="action-buttons">
            <i class="fa fa-heart-o" aria-hidden="true"></i>

            <button class="watch-button">
                <i class="fa fa-play" aria-hidden="true"></i>
                WATCH
            </button>
            
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
</div>
