@import '../../sass/variables.scss';

.favorite-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 84px 0 50px 0;
    width: 100%;

    app-movie-tile:nth-child(n + 3) {
        margin-top: 22px;
    }
}