<div class="movies-list">
    <section class="releases-list">
        <h3 class="release-title">Releases</h3>

        <!-- this div is temporary -->
        <div class="movie-tiles">
            <app-movie-tile></app-movie-tile>
            <app-movie-tile></app-movie-tile>
        </div>
    </section>

    <section class="rising-list">
        <h3 class="rising-title">Rising</h3>

        <!-- this div is temporary -->
        <div class="movie-tiles">
            <app-movie-tile></app-movie-tile>
            <app-movie-tile></app-movie-tile>
        </div>
    </section>
</div>