@import '../../sass/variables.scss';

.movies-list {
    display: flex;
    flex-direction: column;
    padding: 28px 14px 50px 14px;
    width: 100%;
}

.movie-tiles {
    display: flex;
    padding: 10px 0px;
    overflow-x: auto;
    width: 100%;

    //left margin of the second element onwards
    app-movie-tile:nth-child(n + 2) {
        margin-left: 18px;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

.releases-list, .rising-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .release-title, .rising-title {
        color: $g-white;
        font: 20px $roboto;
    }
}